<div class="row">
  <div class="col-6">
    <div id="chart">
      <apx-chart [series]="simplePieChartOptions.series" [chart]="simplePieChartOptions.chart"
        [labels]="simplePieChartOptions.labels" [responsive]="simplePieChartOptions.responsive"
        [title]="simplePieChartOptions.title"></apx-chart>
    </div>
  </div>
  <div class="col-6">
    <div id="chart">
      <apx-chart [series]="simpleDonutChartOptions.series" [chart]="simpleDonutChartOptions.chart"
        [labels]="simpleDonutChartOptions.labels" [responsive]="simpleDonutChartOptions.responsive"
        [title]="simpleDonutChartOptions.title"></apx-chart>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div id="chart">
      <apx-chart [series]="monochromePieChartOptions.series" [chart]="monochromePieChartOptions.chart"
        [labels]="monochromePieChartOptions.labels" [title]="monochromePieChartOptions.title"
        [theme]="monochromePieChartOptions.theme" [responsive]="monochromePieChartOptions.responsive"></apx-chart>
    </div>
  </div>
  <div class="col-6">
    <div id="chart">
      <apx-chart [series]="donutwithPatternPieChartOptions.series" [chart]="donutwithPatternPieChartOptions.chart"
        [labels]="donutwithPatternPieChartOptions.labels" [dataLabels]="donutwithPatternPieChartOptions.dataLabels"
        [title]="donutwithPatternPieChartOptions.title" [fill]="donutwithPatternPieChartOptions.fill"
        [states]="donutwithPatternPieChartOptions.states" [plotOptions]="donutwithPatternPieChartOptions.plotOptions"
        [stroke]="donutwithPatternPieChartOptions.stroke" [theme]="donutwithPatternPieChartOptions.theme"
        [responsive]="donutwithPatternPieChartOptions.responsive"></apx-chart>
    </div>
  </div>
</div>