<div class="page-area">
  <div class="page-working-area1">
    <div class="main-page-body">
      <div class="dashboard-page">
        <div class="row">
          <div class="whitebox-group">
            <div class="timeline-horizontal timeline-horizontal1 ">
              <div class="single-timeline" routerLink="/apex-charts/dashboard">
                <div class="single-timeline-left">
                  <div class="timeline-user-info">
                    <div class="surgery-name">Apex-Charts</div>
                  </div>
                </div>
              </div>
              <div class="single-timeline" routerLink="/high-charts/dashboard">
                <div class="single-timeline-left">
                  <div class="timeline-user-info">
                    <div class="surgery-name">High-Charts</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>