<div class="left-menu">
    <ul class="navbar-left panel-group" id="accordion">
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/landing-page'}" routerLink="/landing-page"
                class="nav-link active" title="landing-page">
                <i class="fa fa-arrow-left"></i>
                <span class="nav-name">LANDING PAGE</span>
            </a>
        </li>
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/apex-charts/dashboard'}"
                routerLink="/apex-charts/dashboard" class="nav-link " title="apex_dashboard">
                <i class="fa fa-tachometer"></i>
                <span class="nav-name">APEX DASHBORD</span>
            </a>
        </li>
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/apex-charts/pie-charts'}"
                routerLink="/apex-charts/pie-charts" class="nav-link " title="apex_piechart">
                <i class="fa fa-pie-chart"></i>
                <span class="nav-name">PIE CHART</span>
            </a>
        </li>
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/apex-charts/line-charts'}"
                routerLink="/apex-charts/line-charts" class="nav-link " title="apex_line-charts">
                <i class="fa fa-line-chart"></i>
                <span class="nav-name">LINE CHART</span>
            </a>
        </li>
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/apex-charts/area-charts'}"
                routerLink="/apex-charts/area-charts" class="nav-link " title="apex_areachart">
                <i class="fa fa-area-chart"></i>
                <span class="nav-name">AREA CHART</span>
            </a>
        </li>
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/apex-charts/bar-charts'}"
                routerLink="/apex-charts/bar-charts" class="nav-link " title="apex_barchart">
                <i class="fa fa-bar-chart"></i>
                <span class="nav-name">BAR CHART</span>
            </a>
        </li>
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/apex-charts/column-charts'}"
                routerLink="/apex-charts/column-charts" class="nav-link " title="apex_column">
                <i class="fa fa-columns"></i>
                <span class="nav-name">COLUMN CHARTS</span>
            </a>
        </li>
        <li class="nav-item panel">
            <a href="javascript:void(0)" [ngClass]="{'active':_router.url==='/apex-charts/mixed-charts'}"
                routerLink="/apex-charts/mixed-charts" class="nav-link " title="apex_mixed">
                <i class="fa fa-outdent"></i>
                <span class="nav-name">MIXED CHART </span>
            </a>
        </li>
    </ul>
</div>