<div class="main-page-body">
  <div class="dashboard-page">
    <div class="row">
      <div class="whitebox-group">
        <div class="timeline-horizontal">
          <div class="single-timeline" routerLink="/high-charts/pie-charts">
            <div class="single-timeline-left">
              <div class="timeline-user-info">
                <div class="surgery-name">PIE CHARTS</div>
              </div>
            </div>
          </div>
          <div class="single-timeline" routerLink="/high-charts/line-charts">
            <div class="single-timeline-left">
              <div class="timeline-user-info">
                <div class="surgery-name">LINE CHARTS</div>
              </div>
            </div>
          </div>
          <div class="single-timeline" routerLink="/high-charts/area-charts">
            <div class="single-timeline-left">
              <div class="timeline-user-info">
                <div class="surgery-name">AREA CHARTS</div>
              </div>
            </div>
          </div>
          <div class="single-timeline" routerLink="/high-charts/bar-charts">
            <div class="single-timeline-left">
              <div class="timeline-user-info">
                <div class="surgery-name">BAR CHARTS</div>
              </div>
            </div>
          </div>
          <div class="single-timeline" routerLink="/high-charts/column-charts">
            <div class="single-timeline-left">
              <div class="timeline-user-info">
                <div class="surgery-name">COLUMN CHARTS</div>
              </div>
            </div>
          </div>
          <div class="single-timeline" routerLink="/high-charts/mixed-charts">
            <div class="single-timeline-left">
              <div class="timeline-user-info">
                <div class="surgery-name">MIXED CHARTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>